ul .list{
    padding: 2rem;
}
input:hover{
    /* background: linear-gradient(to right, pink,cyan, violet, rgb(228, 123, 123) ); */
}
tr{
    background: #ffffff1a;
}
h3{
    font-weight: bold;
}
.table{
    background-color: red;
}