a{
    text-decoration: none;
}
ul .list{
    padding: 2rem;
}
input:hover{
    /* background: linear-gradient(to right, pink,cyan, violet, rgb(228, 123, 123) ); */
}
input:focus{
    border: 0.1rem solid cyan;
    box-shadow: 2px 2px 2px cyan,
                -2px -2px 2px green;
}
tr{
    background: #ffffff1a;
}
h3{
    font-weight: bold;
}
.xoabtn{
    background: linear-gradient(to right, orange,red) ;
    font-weight: bold;
    padding: 5px;
    border: 0.1rem solid black ;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    
}
.suabtn{
    background:linear-gradient(to right, yellow, green) ;
    font-weight: bold;
    padding: 5px;
    border: 0.1rem solid black ;
    border-radius: 10px;
    text-decoration: none;
    color: black; 
}
.table td{
    box-shadow: -2px -2px 4px black;
}
.table th{
    /* box-shadow: 0 2px 4px black; */
    /* background: red; */
    box-shadow: -2px -2px 4px black;
}
.account{
    float: right;
    /* justify-content: space-between; */
    padding: 12px;
}
.account a:first-child{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-right: 20px;
}
.account a:last-child{
    text-decoration: none;
    text-transform: uppercase;
    
    text-shadow: 2px 2px 4px blue;
    margin-left: 20px;
}
.account a:hover{ 
    color: rgb(249, 130, 150);
    
}