ul .list{
    padding: 2rem;
}
input:hover{
    /* background: linear-gradient(to right, pink,cyan, violet, rgb(228, 123, 123) ); */
}
tr{
    background: #ffffff1a;
}
h3{
    font-weight: bold;
}
.xoabtn{
    background: linear-gradient(to right, orange,red) ;
    font-weight: bold;
    padding: 5px;
    border: 0.1rem solid black ;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    
}
.suabtn{
    background:linear-gradient(to right, yellow, green) ;
    font-weight: bold;
    padding: 5px;
    border: 0.1rem solid black ;
    border-radius: 10px;
    text-decoration: none;
    color: black; 
}
.table td{
    box-shadow: -2px -2px 4px black;
}

